<footer class="footer-distributed">
			<div class="footer-right">
				<a href="#"><i class="fa fa-facebook"></i></a>
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				<a href="#"><i class="fa fa-github"></i></a>
			</div>

			<div class="footer-left">
				<p class="footer-links">
					<a href="#">Inicio</a>路
					<a href="#">Blog</a>路
					<a href="#">Acerca de</a>路
					<a href="#">Contacto</a>
				</p>
				<p>Universidad Tecnol贸gica de la Mixteca&copy;</p>
			</div>
		</footer>
    </div>
    <script src="js/bootstrap.min.js"></script>